body {
  background-color: #5f6266;
  color: white;
  text-transform: uppercase;
}

.home {
  background: url("images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
  color: white;
  text-transform: uppercase;
}

.layout {
  /* margin: auto;
  padding: auto;
  width: 90%; */
  /* border: solid 2px; */
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-gap: none;
}

      .header {
        grid-area: header;
        display: grid;
        grid-template-columns: 5fr 5fr;
        grid-template-areas:
          "logo menu";
        grid-gap: none;
      }
          .logo {
            grid-area: logo;
          }

          .menu {
            grid-area: menu;
          }

      .content {
        /* border: solid 2px grey; */
        grid-area: content;
      }

      .footer {
        /* border: solid 2px grey; */
        grid-area: footer;
      }

/* //////////////////////////////////////////////////////////////  HEADER DECORATION */

#welcome {
  font-family: 'Montserrat', sans-serif;
  /* border: solid 2px grey; */
  font-size: 75px;
  text-align: center;
  position: relative;
  top: 40%;
  text-transform: none;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

a, a:visited {
  text-decoration: none;
  color: white;
  padding: 5px;
}

.menuItem:hover {
  color: #5f6266;
  background-color: white;
}

ul {
  list-style-type: none;
  margin-top: 25px;
  padding: 0;
  float: right;
  padding: auto;
  word-spacing: none;
  /* border: solid 2px white; */
}

    li {
      display: inline;
      font-family: 'Montserrat', sans-serif;
      margin: 15px;
      padding: 5px;
      /* border: solid 2px white; */
    }

/* //////////////////////////////////////////////////////////////  FOOTER DECORATION */

.gitLink {
  font-family: 'Roboto', sans-serif;
  text-transform: none;
  /* border: solid 2px white; */
  margin-top: 17px;
  float: right;
  font-size: 15px;
}
